@page "/client/createclient"
@using Gaby.Client.Services.Client
@using Gaby.Shared.Model
@inject PageHistoryState PageHistoryState
@inject IClientService clientservice
@inject NavigationManager navManager
<h4>Creando cliente...</h4>
<br />

<PageTitle>Client Addition</PageTitle>

<form>
    <h4>Ficha</h4>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="inputName1">Nombre :</label>
            <input @bind="client.Name" type="text" class="form-control" id="inputName1" placeholder="Ej: Elpidio Valdés">
        </div>
        <div class="form-group col-md-3">
            <label for="inputPhone1">Teléfono :</label>
            <input @bind="client.PhoneNumber" type="tel" class="form-control" id="inputPhone1" placeholder="Ej: 58319743" pattern="[5,7]{1}[0-9]{7}">
        </div>
        <div class="form-group col-md-3">
            <label for="inputAilments">Padecimientos :</label>
            <input @bind="client.Ailments" type="tel" class="form-control" id="inputAilments" placeholder="Ej: Hipertensión">
        </div>
        <div>
            <label for="space1">  </label>
        </div>
        <div class="form-group col-md-4">
            <label for="inputGender">Género :</label>
            @*<InputSelect @bind-Value="@client.Gender" class="form-control col-sm-3"> 
               <option value="Select">--Select--</option>
               <option value="Masculino">Male</option>
               <option value="Femenino">Female</option>
               <option value="Otro">Other</option>
            </InputSelect>*@
            <select @bind="client.Gender" type="text" id="inputGender" class="form-control">
                <option selected>--</option>
                <option>Masculino</option>
                <option>Femenino</option>
                <option>Otro</option>
            </select>
        </div>
        @*<div class="form-group col-md-3">
            <label for="inputTimeIn">Horario de entrada :</label>
            <input @bind="client.CheckInTime" type="time" class="form-control" id="inputTimeIn">
        </div>
        <div class="form-group col-md-3">
            <label for="inputTimeOut">Horario de salida :</label>
            <input @bind="client.CheckOutTime" type="time" class="form-control" id="inputTimeOut">
        </div>*@
    </div>
    <br />
    <h4>Dirección</h4>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="inputAddress1">Calle :</label>
                <input @bind="client.Address.MainSt" type="text" class="form-control" id="inputAddress1" placeholder="Ej: Vento">
            </div>
            <div class="form-group col-md-4">
                <label for="inputAddress2">Entrecalle :</label>
                <input @bind="client.Address.SecondarySt1" type="text" class="form-control" id="inputAddress2" placeholder="Ej: Néstor Aranguren">
            </div>
            <div class="form-group col-md-4">
                <label for="inputAddress2">Entrecalle :</label>
                <input @bind="client.Address.SecondarySt2" type="text" class="form-control" id="inputAddress2" placeholder="Ej: 4ta">
            </div>
            <div>
                <label for="space2">  </label>
            </div>
            <div class="form-group col-md-2">
                <label for="inputAddress3">Número :</label>
                <input @bind="client.Address.HouseNumber" type="number" class="form-control" id="inputAddress3" placeholder="Ej: 510">
            </div>
            <div class="form-group col-md-4">
                <label for="inputAddress5">Comunidad :</label>
                <select @bind="client.Address.Community" id="inputAddress5" class="form-control">
                    <option selected>--</option>
                    <option>Casino Deportivo</option>
                    <option>Otra comunidad</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="inputAddress4">Municipio :</label>
                <select @bind="client.Address.Municipality" id="inputAddress4" class="form-control">
                    <option selected>--</option>
                    <option>Cerro</option>
                    <option>Boyeros</option>
                    <option>10 de Octubre</option>
                    <option>Arroyo Naranjo</option>
                    <option>Centro Habana</option>
                    <option>Plaza de la Revolución</option>
                    <option>Habana Vieja</option>
                    <option>Playa</option>
                    <option>Marianao</option>
                    <option>La Lisa</option>
                    <option>Regla</option>
                    <option>San Miguel del Padrón</option>
                    <option>Guanabacoa</option>
                    <option>Habana del Este</option>
                    <option>Cotorro</option>
                </select>
            </div>
        </div>
    <br />
    <button type="button" class="btn btn-success" @onclick="AddMember" href="@PageHistoryState.GetGoBackPage()">Agregar</button>
    <div class="form-group">
        @if (PageHistoryState.CanGoBack()){
            <NavLink href="@PageHistoryState.GetGoBackPage()" class="btn btn-link">Atrás</NavLink>
        }
        else{
            <NavLink href="/client/1" class="btn btn-link">Atrás</NavLink>
        }
    </div>
</form>



@code {

    MemberClient client = new MemberClient
    {
        Name = "",
        //CheckInTime = default(TimeOnly),
        //CheckOutTime = default(TimeOnly),
        Gender = Gender.Other,
        PhoneNumber = "",
        Active = true,
        Address = new Gaby.Shared.Utils.HomeAddress
        {
            MainSt = "",
            SecondarySt1 = "",
            SecondarySt2 = "",
            Community = "",
            Municipality = "",
            HouseNumber = 0
        },
        Ailments = "",

    };

     async Task AddMember()
    {
         try
         {
             await clientservice.AddClient(client); 
             navManager.NavigateTo(PageHistoryState.CanGoBack() ? PageHistoryState.GetGoBackPage() : "/client/1");
         }
         catch (Exception ex)
         {
             StateHasChanged();
         }
    }
}