@page "/administration/payments"

<h4>Administración</h4>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" href="administration/expense">Gastos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" data-bs-toggle="tab" href="administration/payments">Pagos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active">Gráficos</a>
  </li>
</ul>

@code {

}
