@page "/equipment/addEquipment"

@using Gaby.Shared.Model;
@using Gaby.Client.Services.Equipment;

@inject PageHistoryState PageHistoryState
@inject IEquipmentService EquipmentService
@inject NavigationManager NavManager

<h3> Agregar Equipo</h3>

<form>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="inputName1">Tipo de Equipo</label>
            <input @bind="equipment.Name" type="text" class="form-control" id="inputName1" placeholder="Ej: Elíptica">
        </div>
        <div class="form-group col-md-3">
            <label for="inputBasicSalary1">Cantidad:</label>
            <input @bind="equipment.Count" type="number" class="form-control" id="inputBasicSalary1" placeholder="Ej: 5">
        </div>
        <div>
            <label for="space1">  </label>
        </div>

    </div>
    <button type="button" class="btn btn-success" @onclick="AddNewEquipment" >Agregar</button>
</form>

@code {
    Equipment equipment = new Equipment();

    async Task AddNewEquipment()
    {
         try
         {
             await EquipmentService.AddEquipment(equipment); 
             NavManager.NavigateTo(PageHistoryState.CanGoBack() ? PageHistoryState.GetGoBackPage() : "/equipment/1");
         }
         catch (Exception ex)
         {
             StateHasChanged();
         }
    }
}
