@page "/lesson/createlesson"

@using Gaby.Client.Services.GymService
@using Gaby.Client.Services.Lessons
@using Gaby.Shared.Model
@using Gaby.Client.Services.Employee

@inject NavigationManager UriHelper
@inject PageHistoryState PageHistoryState
@inject ICoachService CoachService
@inject IGymServiceService GymService
@inject NavigationManager NavManager
@inject ILessonService LessonService

<h4>Creando clase...</h4>
@if (services == null || coaches == null)
{
    <p>
        <em>Cargando...</em>
    </p>
}
else
{
    <form>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="fom-group col-md-4">Servicio</label>
                <select @bind="currentService" id="inputService" class="form-control">
                    <option selected>--</option>
                    @foreach (Service service in services)
                    {
                        <option>@service.ServiceType.ServiceTypeName---@service.Description</option>
                    }
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="fom-group col-md-4">Entrenador</label>
                <select @bind="currentCoach" id="inputService" class="form-control">
                    <option selected>--</option>
                    @foreach (Coach coach in coaches)
                    {
                        <option>@coach.Name</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputPrice1">Precio:</label>
                <input @bind="lesson.Price" type="number" class="form-control" id="inputPrice1" placeholder="Ej: 100">
            </div>
            <div class="form-group col-md-3">
                <label for="inputCapacity1">Capacidad:</label>
                <input @bind="lesson.Capacity" type="number" class="form-control" id="inputCapacity1" placeholder="Ej: 15">
            </div>
            <div class="form-group col-md-3">
                <label for="inputCapacity1">Duracion:</label>
                <input @bind="lesson.MinutesDuration" type="number" class="form-control" id="inputCapacity1" placeholder="Ej: 20">
            </div>
            <div>
                <label for="space1"> </label>
            </div>

        </div>

        <button type="button" class="btn btn-success" @onclick="AddLesson">Agregar</button>
    </form>
}

@code {
    
    private ICollection<Coach> coaches;
    private ICollection<Service> services;
    string currentCoach = " ";
    string currentService = " ";
    Coach selectedCoach = new();
    Service selectedService = new();

    private readonly Lesson lesson = new Lesson
    {
        Capacity = 0,
        Price = 0,
        MinutesDuration = 0
    };


    protected override void OnInitialized()
    {
        PageHistoryState.AddPageToHistory(UriHelper.Uri);
        base.OnInitialized();
    }

    protected override async Task OnParametersSetAsync()
    {
        coaches = await CoachService.Get(null);
        services = await GymService.GetServices();
        PageHistoryState.AddPageToHistory(UriHelper.Uri);
    }

    private async Task AddLesson()
    {
        AsignCoachServices();
        lesson.Coach = selectedCoach;
        lesson.Service = selectedService;
        lesson.CoachId = lesson.Coach.EmployeeId;
        await LessonService.AddLesson(lesson);
        NavManager.NavigateTo(PageHistoryState.CanGoBack() ? PageHistoryState.GetGoBackPage() : "/lesson");
    }

    private void AsignCoachServices()
    {
        foreach (var item in coaches)
        {
            if (item.Name == currentCoach)
            {
                selectedCoach = item;
            }
        }
        foreach (var item in services)
        {
            if (item.ServiceType.ServiceTypeName + "---" + item.Description == currentService)
            {
                selectedService = item;
            }
        }
    }

}